<% if (stats.length > 0) { %>
<ul>
    <% stats.forEach(function(stat){ %>
        <li>
            <span class="score">
                <span class="sr-only">Number of Guesses:</span><%= stat.score %>
            </span>
            <span class="line" aria-hidden="true">
                <% for(var i = 0; i < Math.ceil(stat.percentage); i++) {%>|<% } %>
            </span>
            <span class="percentage">
                <%= stat.percentage %>%
            </span>
        </li>
    <% }) %>
</ul>
<% } else { %>
    <div class="no-stats">
        <p>
            No stats could be found for today.
        </p>
        <p>
            This is probably because we've hit the Twitter API limits! ☹️
        </p>
    </div>
<% } %>