<%- include('header.html') -%>

<main>
  <section>
    <header>
      <h2>Wordle #<%= wordleNumber %> Stats</h2>
      <p>How did your score compare to the other <span class="total-result-count"><%= Number(todayPlayerCount).toLocaleString() %></span> players?</p>
    </header>

    <aside>
      <%- include('partials/stats.html', { stats: todayStats }) -%>
    </aside>
  </section>

  <section class="yesterday">
    <aside>
      <h3>Yesterday's Stats <span>(<%= Number(yesterdayPlayerCount).toLocaleString() %> players)</span></h3>

      <%- include('partials/stats.html', { stats: yesterdayStats }) -%>
    </aside>
  </section>

  <article>
    <p>
      These stats are pulled from <a href="https://twitter.com/search?q=Wordle%20<%= wordleNumber %>" target="_blank">Twitter</a>, where people share their daily scores. It is refreshed every 15 minutes with new scores added.
    </p>
    <p>
      Unfortunately we have a limit of pulling 2M Tweets per month so to keep showing stats each day we limit it to a sample of 65k per day.
    </p>
  </article>
</main>



<%- include('footer.html') -%>